.vip-header {
  padding: 0px;
  margin: 40px auto 10px auto;
  width:1140px;
  height:170px;
  background-image: url(../../../images/vipHeader.jpg);
}

h1:before{
content: "\271A";
}
 p {
  margin: 0px;
}
.frame{
  padding: 20px;
  margin: 5px 20px 5px 0px;
  width:560px;
  height:398px;
  font-size: 12px;
  color: white;
  background-image: url(../../../images/frame.jpg);
}
.vip-frame{
  padding: 20px;
  margin:5px 20px 5px 0px;
  width:560px;
  height:398px;
  font-size: 12px;
  background-image: url(../../../images/vipFrame.jpg);
}
.standart-button{
  padding: 20px 0px 0px 70px;
  color: #7bb4d7;
  width:249px;
  height:59px;
  background-image: url(../../../images/standartButton.png);
}
.vip-button{
  padding: 20px 0px 0px 70px;
  margin-bottom: 40px;
  width:249px;
  height:59px;
  background-image: url(../../../images/vipButton.png);
}
.frame-text{
  width:560px;
  height:308px;
}
