.content{
  padding-top: 22px;
  margin: auto;
  width:1140px;
}
.third1{
  padding:0px;
  margin:0px;
  width:360px;
  height:584px;
  background-image: url(../../../images/bannerCSGOblue.jpg);
}
.third2{
  padding:0px;
  margin:0px;
  width:360px;
  height:584px;
  background-image: url(../../../images/bannerDota2blue.jpg);
}
.third3{
  padding:0px;
  margin:0px;
  width:360px;
  height:584px;
  background-image: url(../../../images/bannerLoLblue.jpg);
}
.textFrame {
  padding-top:10px;
  color: #7bb4d7;
  width:360px;
  height:70px;
  text-align: center;
    background-image: url(../../../images/textFrame.jpg);
}
.btnEnterFacult {
  font-size: 12px;
  padding-top: 22px;
  text-align: center;
  margin: 0 auto;
  width:250px;
  height:64px;
  background-image: url(../../../images/btnEnterFacult.png);
}
