// @font-face {
//     font-family: 'micradiregular';
//     src: url('../../fonts/micradi_regular-webfont.woff2') format('woff2'),
//          url('../../fonts/micradi_regular-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
@font-face {
	font-family: 'Orbitron';
	src: url('../../fonts/orbitron-medium-webfont.eot');
	src: local('☺'),
  url('../../fonts/orbitron-medium-webfont.woff') format('woff'),
  url('../../fonts/MICRADI_.ttf') format('truetype'),
  url('../../fonts/MICRADI_.svg') format('svg');
	font-weight: medium;
	font-style: normal;
}
.container {
font-family: 'Orbitron', sans-serif;
font-size: 14px;
display: flex;
color: #e5d800;
}
.footer-block{
  width:100%;
	height:50px;
	background-color: #000;
}
.block {
   padding:15px;
   margin:0px;
	 color: #e5d800;
}
.block a:hover { color: blue}
.social-media{
	padding:30px;
	margin:0px;
	color: #e5d800;
}
.vk {
	padding:10px;
	margin:10px 10px 0px 10px;
	width:31px;
	height:30px;
	float:left;
	background-image: url(../../images/sm-vk.png);
}
.fb {
	padding-left: 0px;
	margin:10px 10px 0px 230px;
	width:28px;
	height:30px;
	background-image: url(../../images/sm-fb.png);
}
.twitter {
	padding:10px;
	margin:10px 10px 0px 10px;
	width:28px;
	height:30px;
	float:left;
	background-image: url(../../images/sm-twitter.png);
}
.viber {
	padding:10px;
  margin:10px 10px 0px 10px;
	width:28px;
	height:30px;
	float:left;
	background-image: url(../../images/sm-viber.png);
}
